# Ignore IDE/editor files
.vs
.git
.idea
.vscode

# Ignore Node dependencies
node_modules

# Ignore Node out directory
dist
build

# Ignore test coverages
coverage

# Ignore playgrounds
.playground
playground
playground/*

# Ignore sensitive files (e.g., config or env files)
.env

# Ignore archives
*.tgz
*.zip
*.rar

# Ignore vercel configs
.vercel